{% extends 'base.html' %}
{% block content %}

<div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row" id="center">
            <div class="col">
                <p>Добро пожаловать, уважаемый пользователь!
                <p>На этом сайте ты можешь ознакомиться с документацией о средствах...<br>
                    А также...
                <hr>
            </div>
        </div>

</div>
{% endblock %}